*{
	font-family: "Arial";
	 font-size: 20px;
}

h2{
text-transform: uppercase;
}

html{
	scroll-behavior: smooth;
}
body{
	background-color: white;
}


#list1{	
	background-color: green;
}
#list2 {
	border: 1;
	border-style: solid;
}

#jslogo + img {
	height: 120px;
	width: 120px;
	border-radius: 60px;
}

#list3{
	letter-spacing: 5px;
}

a:hover {
	background-color: #b4d6de;
}

#list2:hover {
	background-color: #b4d6de;
}